body {
    background: url("https://i.gifer.com/HQTr.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    


}

.container {
   
    
    display: flex;
    flex-wrap: wrap;
    height: 300px;
}

.producto {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
